---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'

import valPortrait from '../archive/teacher/IMG_5982.jpeg'
---

<Layout title="Valerie Ford, 1969–2023">
	<main>
		<h1>Valerie Sue Ford</h1>
		<h2><span class="text-gradient">1969–2023</span></h2>
		<div class="instructions">
			<h3>Come share & learn</h3>
			<p>A memorial service will be held Saturday, November 18 3:00pm at Zion Mennonite Church in Souderton, PA—a few blocks from where she lived.</p>
			<p>All are invited. No RSVP required.</p>
			<p><a href="mailto:jacob@valerie.memorial">Email Jacob Ford</a> with any questions.</p>
		</div>
		<p>
			Valerie Sue Ford (née Schmoyer) <a href="https://www.caringbridge.org/visit/mikeford/journal/view/id/650cc572c2b6a232d3d0da8e">died September 21, 2023 at 9:55am in Souderton, Pennsylvania</a>, after having cancer in her brain a long time. She was in bed at home, and within an hour she was surrounded by her husband Michael; children Jacob, Bekah, Emma, and Nicole, Jacob's partner Catie, and her dog Eli.
		</p>
		<Image src={valPortrait} alt="portrait of Valerie Ford, 2021"/>
		<p>
			This website is a memorial to her, and a place for anyone who knew her to remember, share, and learn. She was a clarinetist, student, wife, mother, caretaker, teacher, and friend. She has friends, teachers, a family, colleagues, students, and so many others to share memories. It will grow over time.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #002000;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	a {
		color: #12729f;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		color: #bfffdf;
		margin-bottom: 2rem;
		border: 1px solid --accent-light;
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
