---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'

import valTable from '../archive/teacher/IMG_4082.jpeg'
---

<Layout title="Valerie Ford, 1969–2023">
	<main>
		<h1>Valerie Sue Ford</h1>
		<h2><span class="text-gradient">1969–2023</span></h2>
		<div class="instructions">
			<h3>Share with us</h3>
			<p>A memorial service will be held Saturday, November 18, 3:00pm at Zion Mennonite Church in Souderton, PA—a few blocks from where she lived.</p>
			<p>All are invited. No RSVP required.</p>
			<p><a href="mailto:jacob@valerie.memorial">Email Jacob Ford</a> with any questions.</p>
		</div>
		<p>
			Valerie Ford (née Schmoyer), 54 years old, <a href="https://www.caringbridge.org/visit/mikeford/journal/view/id/650cc572c2b6a232d3d0da8e">died peacefully at home</a> in Souderton, PA on the morning of September 21, 2023, surrounded by her loving family. Val had been battling brain cancer for two years, and is now free of the struggle and in the presence of Jesus.
		</p>
		<p>
			Val was an incredible and beloved mother. Being a mom was her primary passion in life and she is survived by her children, Jacob and his partner Catie, Bekah, Emma, and Nicole and her husband Ian. Her loving husband of 32 years, Mike, and her daughters were holding her hands as she breathed her final breath. She is also survived by her parents, Dick and Jeanette Schmoyer, her brother Tim and his wife Rachel, and a host of Fords and Schmoyers, all of whom loved her dearly.
		</p>
		<p>
			Val was a beautiful soul. An introvert—with poise, posture, intelligence, and grace noticed by all—she did not need a large circle of friends. Nonetheless, she influenced and was loved by many. She earned a BS from Juniata College and a MEd from Wilkes University. Throughout her life, she served in college campus ministry, Christian camping, tutoring, nannying, and teaching. Val was a gifted teacher, beginning by homeschooling her children and then teaching at Dock Mennonite Academy and Souderton Area High School. Her primary subject was Biology and her body will continue to teach and serve others, as she donated it to scientific research. Cremation will follow.
		</p>
		<p>
			A celebration of Val’s life will be held at Zion Mennonite Church in Souderton, PA on Saturday, November 18, 2023, at 3 pm. In lieu of flowers or cards, Val asked that financial contributions to honor her be <a href="https://ccojubilee.org/valerieford">given to the Coalition for Christian Outreach</a>, a college ministry that impacted her faith journey during her undergraduate days. Thank you for joining us in remembering and celebrating our beloved daughter, wife, and mother, Val. A special campaign link in her honor has been set up at <code><a href="https://ccojubilee.org/valerieford">ccojubilee.org/valerieford</a></code>.
		</p>
		<Image src={valTable} alt="portrait of Valerie Ford, 2021"/>
		<figcaption>Portrait by Brenda Shelley, August 2021</figcaption>
		<p>
			This website is a memorial to her, and a place for anyone who knew her to remember, share, and learn. She was a clarinetist, student, wife, mother, caretaker, teacher, and friend. She has friends, teachers, a family, colleagues, students, and so many others to share memories. It will grow over time.
		</p>
		<p>
			It is built and maintained by her son, <a href="https://jacobford.com">Jacob</a>.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	a {
		color: #12729f;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		color: #bfffdf;
		margin-bottom: 2rem;
		border: 1px solid --accent-light;
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
